.container{
    height: 100px;
}


.title {
    color:firebrick;
    margin-top: 50px;
    font-size: 40px;
    width: 400px;
}
.content{
    height:400px;

}
.text{
    font-size: 20px;
    margin-top: 50px;
    width:450px;
}
.pubDate {
    font-weight: bold;
    font-size: 25px;
}
.button{
    margin-right: 10px;
    float: right;
}

.image{
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    width:400px;
    height: 170px;
}

.clear{
    clear: both;
}