.bigBack {
    display: grid;
    grid-template-areas: "a a a";
    grid-gap: 10px;
    grid-auto-columns: auto;
  

    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 20px;

    background-color: rgb(163, 163, 163);
    border:2px dashed;
    border-color: rgb(85, 85, 85);
    list-style: none;
    border-radius: 50px;
  }

.smallBack{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-left: 10px;

    width: 420px;
    height: 840px;

    box-shadow: 0px 10px 30px 5px rgb(63, 63, 63);

    background-color:rgb(207, 205, 205);
    background-image: linear-gradient(to right, rgb(197, 108, 108) 1%, white 20%);
    
    border:2px solid;
    border-color: firebrick;
    border-radius: 50px;
}