
.title {
    color:firebrick;
    font-size: 50px;
}
.text{
    font-size: 25px;
}
.pubDate {
    font-weight: bold;
    font-size: 25px;
}
.button{
    margin-right: 10px;
    margin-bottom: 50px;
    float:right;
}

.image{
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
    float: left;
}

.clear{
    clear: both;
}