.slugButton {
    background: firebrick;
    color:white;
    font-size: 25px;
    width: 300px;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 20px;
    float: right;
}